<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="threads_max_count" value="2" />
    <add key="code_namespace" value="AnyNamespace" />
    <add key="plugins_directory" value="./PLUGIN" />
    <add key="default_classes_directory" value="./CreatedClasses" />
    <add key="json_source_file" value="./samples.json" />
  </appSettings>
</configuration>